.buttonwrapper {
  padding:    10px 0;
  display:flex;
  align-items:center;
  justify-content:center;
}

button {
  padding:20px;
  margin:20px;
}

button:first-child {
  background:#fba700;
}
button:last-child {
  background:#0cff00;
}